.forgotpassword-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  padding: 1rem;
}
.forgotpassword-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
  flex-direction: column;
  /* min-width: 400px; */
  width: 400px;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.forgotpassword-card {
  width: 100%;
  max-width: 720px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0.2rem;
  box-sizing: border-box;
  margin-bottom: 0.3rem;
}
.forgotpassword-wrapper h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #111827;
  font-size: 1.8rem;
}
