.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* margin-bottom: 0.6rem; */
}
.input-group label {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  color: #374151;
}
.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-sizing: border-box;
}
.error {
  color: var(--error-color);
  font-size: 0.75rem;
  margin-top: 0.25rem;
  font-weight: 500;
  display: block;
  min-height: 1rem;
  max-width: 100%;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

@media (max-width: 321px) {
  .input-group label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
  .input-group input {
    padding: 0.8rem;
  }
}
@media (max-width: 769px) {
  .input-group label {
    font-size: 1rem;
  }
}
