.profile-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-page);
  padding: 1rem;
}
.profile-loading {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  flex-direction: column;
  /* min-width: 400px; */
  width: 400px;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: var(--card-shadow);
}
.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* margin-bottom: 0.6rem; */
}
.input-group label {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  color: var(--text-gray);
}
.input-group option {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box;
}
.input-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box;
}
.profile-action {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
